*{
  margin: 0;
  padding: 0;
} 

body {
  font-family: 'Poppins'; 
  background-color: #f1f1f1;
}

.container{ /* container onde as tasks são exibidas */

  
  display: grid;
  max-width: 1000px; 
  margin-bottom: 1rem;
  margin: 240px auto;
  padding: 20px;
  border-radius: 20px;
  top:300px;
  
}

.header{ 
  
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffffb;
  color: #f1f1f1;
  align-items:center;
  margin-top: 0;
  height: 150px;

  

}



.header,
.navbar, .top {
  position: fixed;
  width: 100%; /* Ocupar a largura total da tela */
  z-index: 100; /* Garante que estejam acima de outros elementos */
  background-color: #fff;
}

.navbar { /* BARRA DE NAVEGAÇÃO TODO/POMODORO */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
  top: 150px;
  
  
}





.navbar button { /* BARRA DE NAVEGAÇÃO - BOTÕES */
  border: 2px solid var(--c-gray-900);
	border-radius: 20px;
	padding: 0.5rem;
	background-color: #b8b8d1;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px ;
  color:#5b5f97;
  font-family: 'Poppins';
  margin-bottom: 12px;
  margin-left: 8px;
}

.navbar button:active {
  background-color: #b8b8d1 ;
  box-shadow: inset 4px 2px 0px 0px #5b5f97;
  transform: translate(5px, 5px);

}

.button.active {
  background-color: #b8b8d1; 
  color: #5b5f97; 
  box-shadow: inset 4px 2px 0px 0px #5b5f97;
  transform: translate(5px, 5px);
  
}



h1{ /* TITULO E ICON*/
  
  margin-left: 50px;
  font-size: 100px;
  color: #5aa9e6;
  font-family: Montserrat;
  border-bottom: 1px solid #cececd;
}



.top{ /* TOPO onde se insere a tarefa */

  margin-bottom: 1rem;
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
  padding: 8px;
  justify-content: center;
  background-color: #a9d3ff;
  top: 190px;
  

}

/* BOTÃO DE ADICIONAR TAREFA */

.add{

	display: flex;
	flex-direction: column;
	border: 2px solid var(--c-gray-900);
	border-radius: 20px;
	padding: 0.5rem;
	background-color: #ffc145;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 3px 3px 0px 0px;
  color:#1B7F7A;
	position: relative;
  cursor:pointer;

}.add:active{
  
  background-color: #A9D9D0;
  box-shadow: inset 4px 2px 0px 0px #45C4B0;
  transform: translate(5px, 5px);
  
}

/* INPUT DO TEXTO(da tarefa) */

input{
  border: 3px solid;
  outline: none;
  width: 400px;
  padding: 0 0.5rem;
  display: flex;
	flex-direction: column;
	border: 2px solid var(--c-gray-900);
	border-radius: 20px;
	padding: 0.5rem;
	background-color: #fffffb;
	position: relative;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;

}

/* COMPONENTE DAS TAREFAS: como cada tarefa será exibida */

.todo{
position: relative;
font-size: 16px;
letter-spacing: 2px;
text-decoration: none;
color: #5b5f97;
background-color: #b8b8d1;
border: 3px solid;
border-radius: 15px;
padding: 0.25em 0.5em;
box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
position: relative;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
margin: 10px auto;
max-width: 600px;

}

.text{
  max-width: 600px; /* Limita a largura do texto a 300 pixels */
  overflow: hidden; /* Esconde o texto caso ele exceda o limite de largura */
  white-space: nowrap; /* Evita que o texto quebre em várias linhas */
  text-overflow: ellipsis; /* Adiciona reticências (...) quando o texto é cortado */
}

.icons{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}

icon{
  cursor: pointer;
  font-size: 5px;

}

.list{
  flex: 1;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  border-right: 5px solid black;
}



/* CONTAINER POMODORO */

.pomodoro-container{

  margin-top: 20px;
  display: flex;
  justify-content: center; 
}
.pomodoro-box {
  position: relative;
  display: flex;
  justify-content: center; /* Alinha os botões horizontalmente */
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #5b5f97;
  background-color: #b8b8d1;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  border-radius: 10px;
  padding: 0.25em 0.5em;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 250px; /* Ajuste a largura */
  
  
}
/* TEMPORIZADOR */
.timer {  
  position: relative;
  font-size: 3rem;
  letter-spacing: 1px;
  text-decoration: none;
  color: #4CABA6;
  background-color: #dfdcc5;
  border: 3px solid;
  border-radius: 10px;
  padding: 0.25em 0.5em;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px auto;
  width: 150px; 
  justify-content: center;
}

.controls {
  margin-top: 20px;
  display: flex;
  justify-content: center; 
}

/* BOTÕES POMODORO */

.pomodoro-button{

  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  background-color: #ffc145;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  color: #1B7F7A;
  border: none;
  cursor: pointer;
  margin: 5px auto;
  margin-bottom: 1rem; 

}
button:hover {

  background-color: #45C4B0;
  
}
button:active{

  background-color: #A9D9D0;
  box-shadow: inset 4px 2px 0px 0px #45C4B0;
  transform: translate(5px, 5px);
}

.title {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.text{
  white-space: nowrap;
  width: 515px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pomodoro-text-box{  /* TEXTO - pomodoro  */
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #5b5f97;
  border-bottom: 2px solid #cececd;
  border-top: 2px solid #cececd; 
  padding: 0.25em 0.5em;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 40px;
  width: 400px;
  height: fit-content;
}


/* mobile */
@media all and (orientation: portrait) { 

  .container {
    max-width: none; /* Remover largura máxima para permitir largura total na tela */
  }

  .header {
    height: 13%; /* Altura para o cabeçalho */
  }

  .navbar {
    top: 13%; /* Ajustar a posição da barra de navegação */
  }

  .navbar button {
    margin-left: 8px auto; 
    padding: 3%;
    font-size: 20px;
    font-weight: 1000;
  }

  h1 {
    margin: none; /* Reduzir a margem do título */
    font-size: 90px; /* Tamanho de fonte menor para dispositivos mobile */
  }

  .top {
    top: 19.5%; /* Ajustar a posição do topo */
  }

  .add{

    margin-left: 8px auto; 
    padding: 3%;
    font-size: 20px;
    font-weight: 1000;
  
  }.add:active{
    
    background-color: #A9D9D0;
    box-shadow: inset 4px 2px 0px 0px #45C4B0;
    transform: translate(5px, 5px);
    
  }

  input {
    width: 90%; /* Ajustar a largura do input para ocupar a maior parte da largura */
    max-width: 70%; /* Limitar a largura */
    font-size: 30px;
  }

  .list {
    border-right: none;
  }

  .todo {
    max-width: 90%; /* Ajustar a largura das tarefas */
    height: 30%;
  }


  .pomodoro-text-box {
    margin-left: 20px; /* Ajustar margem do texto do pomodoro */
    width: 90%; /* Ajustar a largura do texto */
  }
}
